In [1]:
#question 1
def difference_from_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return 17 - n

# Example usage
number = 25
print(difference_from_17(number))

16

In [4]:
#question 2
def is_within_range(n):
    return (100 < n < 1000) or (n == 2000)

# Example usage
number = 150
print(is_within_range(number))

True

In [5]:
#question3
def reverse_string(s):
    return s[::-1]

# Example usage
string = "Hello, World!"
print(reverse_string(string))

!dlroW ,olleH

In [6]:
#question 4
def count_upper_lower(s):
    upper_count = 0
    lower_count = 0
    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count

# Example usage
string = "Hello, World!"
upper, lower = count_upper_lower(string)
print(f"Upper case letters: {upper}, Lower case letters: {lower}")

Upper case letters: 2, Lower case letters: 8

In [7]:
#question 5
def distinct_elements(lst):
    return list(set(lst))

# Example usage
original_list = [1, 2, 2, 3, 4, 4, 5]
new_list = distinct_elements(original_list)
print(new_list)

[1, 2, 3, 4, 5]

In [8]:
#question 6
def even_numbers(lst):
    return [num for num in lst if num % 2 == 0]

# Example usage
sample_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even_numbers(sample_list))

[2, 4, 6, 8]

In [1]:
#question 7
def outer_function(text):
    def inner_function():
        print(text)
    inner_function()

# Example usage
outer_function("Hello from the inner function!")

Hello from the inner function!

In [3]:
#question 8
def student(student_id, student_name, student_class):
    return f"Student ID: {student_id}\nStudent Name: {student_name}\nClass: {student_class}"

# Example usage
print(student('S122', 'Wilson Medina', 'VI'))
print(type(student))

Student ID: S122
Student Name: Wilson Medina
Class: VI
<class 'function'>