In [1]:
import pandas as pd
# q1.1
# Check the version of pandas
print(pd.__version__)

2.2.2

In [2]:
# q1.2
# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
# Print the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
# q2.1
# Create a Series
S1 = pd.Series([100, 200, 300, 400, 500])
# Print the Series
print(S1)

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [4]:
# q2.2
# Access the second and fourth elements
print(S1[1])  # Second element
print(S1[3])  # Fourth element

200
400

In [5]:
# q2.3
# Create a second Series
S2 = pd.Series([10, 20, 30, 40, 50])
# Perform element-wise addition
result = S1 + S2
# Print the result
print(result)

0    110
1    220
2    330
3    440
4    550
dtype: int64

In [6]:
# q3.1
# Print only the 'Name' and 'City' columns
print(df[['Name', 'City']])

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [8]:
# q3.2
# Add a new column 'Salary'
df['Salary'] = [50000, 60000, 70000]
# Print the updated DataFrame
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [9]:
# q3.3
# Calculate the average Age
average_age = df['Age'].mean()
print('Average Age:', average_age)

# Calculate the total sum of Salary
total_salary = df['Salary'].sum()
print('Total Salary:', total_salary)

Average Age: 30.0
Total Salary: 180000

In [10]:
# q4.1
# Assuming df is the DataFrame from question 3.2
filtered_df = df[df['Age'] > 28]
print(filtered_df)

      Name  Age         City  Salary
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [12]:
# q4.2
# Set the 'Name' column as the index
df_indexed = df.set_index('Name')
print(df_indexed)

# Reset the index to the default
df_reset = df_indexed.reset_index()
print("\n",df_reset)

         Age         City  Salary
Name
Alice     25     New York   50000
Bob       30  Los Angeles   60000
Charlie   35      Chicago   70000

       Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [85]:
# q5.1
# Read the CSV file into a DataFrame
df1=pd.read_csv('employees.csv')
print(df)

    Name Department  Salary
0   John      Sales   50000
1   Jane  Marketing   60000
2  Emily         HR   55000

In [88]:
# q5.2
# Filter the rows where the Salary is greater than 55000
filtered_df=df1[df1['Salary']>55000]
print(filtered_df)

# Print only the 'Name' and 'Department' columns for the filtered rows
print(filtered_df[["Name","Department"]])

   Name Department  Salary
1  Jane  Marketing   60000
   Name Department
1  Jane  Marketing

In [90]:
# q6.1
# Group by the 'Department' column and calculate the average Salary
grouped_df = df1.groupby('Department')['Salary'].mean()
print(grouped_df)

Department
HR           55000.0
Marketing    60000.0
Sales        50000.0
Name: Salary, dtype: float64

In [91]:
# q6.2
# Find the minimum and maximum Salary for each Department
agg_df = df1.groupby('Department')['Salary'].agg(['min', 'max'])
print(agg_df)

              min    max
Department
HR          55000  55000
Marketing   60000  60000
Sales       50000  50000

In [92]:
# q7.1
# Given DataFrames
df1 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Department': ['Sales', 'Marketing', 'HR']
})

df2 = pd.DataFrame({
    'Name': ['John', 'Jane', 'Emily'],
    'Experience (Years)': [5, 7, 3]
})

# Merge the DataFrames on the 'Name' column
merged_df = pd.merge(df1, df2, on='Name')
print(merged_df)

    Name Department  Experience (Years)
0   John      Sales                   5
1   Jane  Marketing                   7
2  Emily         HR                   3

In [93]:
# q8.1
# Sort the DataFrame based on the 'Experience (Years)' column in descending order
sorted_df = merged_df.sort_values(by='Experience (Years)', ascending=False)
print(sorted_df)

    Name Department  Experience (Years)
1   Jane  Marketing                   7
0   John      Sales                   5
2  Emily         HR                   3